[user]
	name = Kyoz
	email = banminkyoz@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cf = config
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cm = commit
[core]
	editor = vim

