#!/usr/bin/env sh

# Ibus to type vietnamese
ibus-daemon -drx

# Support transparent and shadow
xcompmgr -c &

# Binding keys
sxhkd &

# Set the background
setbg &	

# To support Ibus for terminal
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export XIM_PROGRAM=/usr/bin/ibus-daemon 
